<header class="header">
<div class="header__container">
    <a href="./index.html" class="header_logo">
        <!-- <svg  width="40" height="40" aria-label="">
            <use class="header_logo-img" href=""></use>
        </svg> -->
        Filmoteka
    </a>
    <nav class="header__nav">
        <ul class="nav_list">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./My-library.html">My Library</a></li>
        </ul>
    </nav>
</div>
    <form class="header__form">
        <input class="form__input" type="text" placeholder="Movie search" >
        <button class="form__btn" type="submit">
            <!-- <svg width="40" height="40" aria-label="">
            <use class="form__btn-img" href=""></use>
        </svg> -->
        </button>
    </form>
</header>