<header class="header">
    <a href="./index.html" class="header_logo">
        <!-- <svg  width="40" height="40" aria-label="">
            <use class="header_logo-img" href=""></use>
        </svg> -->
        Filmoteka
    </a>
    <nav class="header__nav">
        <ul class="nav_list">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./My-library.html">My Library</a></li>
        </ul>
    </nav>
    <ul class="btn_list">
        <li><a href="">Watched</a></li>
        <li><a href="">Queue</a></li>
    </ul>
</header>